---
layout: default
---
{% assign posts_count = (paginator.posts | size) %}
{% if posts_count > 0 %}
{% for post in paginator.posts %}
<article class="post">
  <header>
    <div class="title">
      <h2><a href="{{ post.url | relative_url }}">{{post.title}}</a></h2>
      {% if post.short_summary %}<p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>{% endif %}
    </div>
    <div class="meta">
      <time class="published" datetime="{{post.date}}">{{post.date | date: site.date_format}}</time>
      <a href="#" class="author"><span class="name">{{post.author}}</span></a>
    </div>
  </header>
  {% if post.image %}<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>{% endif %}
  {% if post.summary %}<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>{% endif %}
  <footer>
    <ul class="actions">
      <li><a href="{{ post.url | relative_url }}" class="button big">Continue Reading</a></li>
    </ul>
    <!--<ul class="stats">
      <li><a href="#">General</a></li>
      <li><a href="#" class="icon fa-heart">28</a></li>
      <li><a href="#" class="icon fa-comment">128</a></li>
    </ul>-->
  </footer>
</article>
{% endfor %}
{% else %}
<h1 class='center'>{{ site.text.index.coming_soon }}</h1>
{% endif %}


<!-- Pagination -->
  <ul class="actions pagination">
    <li><a href="" class="disabled button big previous">Previous Page</a></li>
    <li><a href="#" class="button big next">Next Page</a></li>
  </ul>
